* {
    margin: 0;
    padding: 0;
}

h1 {
    margin-top: 16px;
    font-size: 48px;
    color: white;
}

a {
    color: rgb(180, 180, 180);
    text-decoration: none;
    font-size: 18px;
    margin: 20px;
}

a:hover {
    color: white;
}

.content {
    height: 100vh;
    width: 100vw;
    background-color: black;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: monospace;
}

.links {
    margin-top: 16px;
}
